body {
    background-color: #0f0f0f;
    color: #efefef;
    text-align: center;
}

button:hover {
    cursor: pointer;
}

.controls {
    margin-bottom: 1rem;
}

button img {
    max-width: 20px;
}

:root {
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    body { background: #333; color: white; }
}

@media (prefers-color-scheme: light) {
    body { background: #ddd; color: black; }
}